---
Language:        Cpp
BasedOnStyle:  LLVM  # Use this line if you want to inherit from LLVM's style
TabWidth:        4
IndentWidth:     4
UseTab:          Never
ColumnLimit: 100
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AccessModifierOffset: -4
NamespaceIndentation: All
